<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<icon name="'info-circle'"></icon>
			<span class="p-l-1">添加一个预警</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<icon name="'times'"></icon>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
	<!--		Alerts are added and configured in the <strong>Alert Tab</strong> of any dashboard
			graph panel, letting you build and visualize an alert using existing queries.
			<br> <br>
			To persist your alert rule changes remember to save the dashboard.-->
      可以在任何仪表盘图形面板的<strong>预警页签<strong>中添加和配置预警，允许您使用现有查询构建和可视化预警。
        <br> <br>
      要保存预警规则更改，请记住保存仪表板。
			<br>
			<br>
		</p>
	</div>

</div>

